<!DOCTYPE html>
<html>
<head lang="en">
      <script type="text/javascript"
          src="https://www.google.com/jsapi?autoload={
              'modules':[{
              'name':'visualization',
              'version':'1',
              'packages':['corechart']
            }]
          }"></script>

    <script type="text/javascript">
      google.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Число', 'Температура',],
          {% for val in temperature_for_30_days %}
          [ '{{val.date}}', {{val.value}} ],
		      {% endfor %}
        ]);

        var options = {
          title: 'График температуры за месяц',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>
</head>
<body>
  <div id="curve_chart" style="width: 800px; height: 450px"></div>
</body>
</html>